<meta charset="utf-8">
<meta name="keywords" content="聆空，个人网站">
<meta name="description" content="聆空的个人网站">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="theme-color" content="#fafafa">
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?66b987333d533783d4f7993106c4ffcd";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
