<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="application-name" content="聆空小站">
<meta name="keywords" content="聆空，个人网站">
<meta name="description" content="聆空的个人网站">
<meta name="theme-color" content="#fafafa">
<meta name="robots" content="index,follow">
<meta name="subject" content="你的网站主题">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-dns-prefetch-control" content="off">
<!-- 我们目前需要提供的最大的网站图标尺寸 -->
<link rel="icon" sizes="192x192" href="">

<!-- Apple 触摸图标 (尺寸同样是 192x192) -->
<link rel="apple-touch-icon" href="">

<!-- Safari 固定选项卡图标 -->
<link rel="mask-icon" href="" color="blue">
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?66b987333d533783d4f7993106c4ffcd";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
